# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/

# Raw datasets (too large for git)
data/raw/

# Practice files
practice/lupixele/
practice/solo/

# Test cache
tests/__pycache__/

# __pycache__/
.ipynb_checkpoints/
.venv/
.ipynb_checkpoints/scoring-checkpoint.py
practice/ratan/.ipynb_checkpoints/hello-checkpoint.py
practice/ratan/hello.py

# vs code
.vscode/

#checkpoint
.ipynb_checkpoints/scoring-checkpoint.py
practice/ratan/.ipynb_checkpoints/